{{ searx_domain }} {
    reverse_proxy 127.0.0.1:8779
}

{{ web_template_domain }} {
    reverse_proxy 127.0.0.1:10080
}

{{ bookwyrm_domain }} {
    tls internal
    reverse_proxy 127.0.0.1:8977
}

{{ plausible_domain }} {
    tls internal
    reverse_proxy 127.0.0.1:8776
}

{{ isso_domain }} {
    tls internal
    reverse_proxy 127.0.0.1:27488
}

{{ ghost_domain }} {
    tls internal
    reverse_proxy 127.0.0.1:2368
}
