screen -t healthcheck
stuff "cd {{ home_directory }}/Soft/code-server-healthcheck\n"
stuff "gunicorn healthcheck:app -b 127.0.0.1:16666\n"

screen -t portainer
stuff "docker run --rm --volume=/var/run/docker.sock:/var/run/docker.sock --volume=/tmp/portainer:/data -p 9000:9000 portainer/portainer:latest --bind=:9000\n"
