space.demid.dev {
    file_server {
        root {{ home_directory }}/Projects/vladick_bar
    }
}

instance.demid.dev {
    file_server {
        root {{ home_directory }}/Projects/instance_pay
    }
}

space.demid.dev:57666 {
    reverse_proxy 127.0.0.1:16666
}
