[Desktop Entry]
Type=Application
Version=1.0
Name=CIDE
Comment=Cloud IDE
Path={{ software_directory }}/cide/CIDE-linux-x64/
Exec={{ software_directory }}/cide/CIDE-linux-x64/CIDE
Icon={{ software_directory }}/cide/CIDE-linux-x64/cide.png
Terminal=false
Categories=Utility;Application;Development;
