[Desktop Entry]
Type=Application
Version=1.0
Name=Obsidian
Comment=Personal knowledge database
Path={{ software_directory }}/obsidian
Exec={{ software_directory }}/obsidian/obsidian
Terminal=false
Categories=Utility;Application;
