[program:syncthing]
autorestart = True
directory = /home/{{ username }}
user = {{ username }}
command = /usr/bin/syncthing --no-browser --home="/home/{{ username }}/.config/syncthing"
environment = STNORESTART="1", HOME="/home/{{ username }}"
